/* Demo CSS */

/*
----------------------------------------
CSS Order of operations:
1. Stylesheet
2. Document Style
3. Element Style
----------------------------------------
*/

/* Inline vs Block Elements */
h1{
    background-color: red;
    display: inline-block;
    margin-top: 0;
}

nav> a:hover{
    background-color: rgb(28, 212, 22);
    color: red;

}


*{
    box-sizing: border-box;
}


header > nav {
   background-color: rgb(51, 22, 198);
   display: inline-block;
   padding: 0.5em;
   border-radius: 0.25em;
   color: black
   /*TRNASISTION ALL EASE 500MS*/
   transition-duration: 250ms
   transition-property: color: rebeccapurple
   transition- delay: 0ms;

   transition-timing-function: ease;

}



body{
    font-family: Georgia, system-ui;
    font-weight: 300;
    font-style: normal;
}
/* Id selectors */

#main-content{
    background-color: bisque;
    width: 80vw;
    margin: 0 auto;
    padding: 1em
}



/* class selectors */
.flex-daddy{
display: flex;

}


.content{
border: solid 1px black
padding: 1em;
width: 75%
}

.right-content{
width: 25%;
padding: 1em;
border: dotted 1px black;

}

.bottem-content{
    background-color: beige;
    padding: 1em;
    color: rgb(2, 12, 21);
}
.bottem-content > section{
width: 30%;
margin: 1em;
}



/* Cascade Theory */




/* Selector Specificity */




header > nav {
    background-color: beige ;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
    color: black
    /*TRNASISTION ALL EASE 500MS*/
    transition-duration: 250ms
    transition-property: color: rebeccapurple
    transition- delay: 0ms;
 
    transition-timing-function: ease;
 
 }
 